* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .m{
    font-weight: bold; /* Bold text */
    font-size: 2rem; /* Larger font size */
    color: #3498db; /* Vibrant color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Shadow for depth */
    background: linear-gradient(90deg, #2b130c, #190907); /* Gradient background */
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the background */
    padding: 10px 20px;
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease-in-out; /* Smooth animation */
  }
  .m:hover{
    .eye-catching:hover {
      transform: scale(1.1); /* Slight zoom on hover */
  }
  }
  .container {
    background-color: rgb(140, 205, 232);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
   animation: color 2s ;
   font-size: 1.5rem;
            color: #17035c; /* Icon color */
            margin-right: 10px;
  }
  input::placeholder {
    color: #a0b2c1; /* Subtle color */
    font-size: 1rem;
    font-style: italic;
    opacity: 0.8;
    transition: color 0.3s ease;
}

input:focus::placeholder {
    color: #3498db; /* Brighter color on focus */
    opacity: 1;
}
  @keyframes color {
    0%{
      background-color: #6a8ca2;
      filter: blur(100px);}
    50%{
      background-color: rgb(167, 227, 255);
    }
    
    
  }

  .loader {
    border: 2px solid #f3f3f3; /* Light gray */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #060606; /* Subtle color */
    font-size: 1rem;
    font-style: italic;
    opacity: 0.8;
    transition: color 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .hidden {
    display: none;
  }
  